<div class="my-6">
    <header class="my-4">
        <h1 class="title uppercase mb-2 text-black font-bold">Mes Sinistres </h1>
        <span>Lorem ipsum dolor sit amet.</span>
    </header>
    <section class="flex w-full justify-between">

        <form class="">
            <div class="relative">

                <input type="search" id="default-search"
                    class="block w-full p-4 ps-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="Search Mockups, Logos..." required />
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5  hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>
        </form>

        <div class="flex">
            <button class="bg-white rounded-md mx-2 p-2">Type d'offres</button>
            <button class="bg-white rounded-md mx-2 p-2">Date 2024</button>
        </div>
    </section>
</div>
