<aside id="logo-sidebar" [ngClass]="{'hidden': !isVisible}" id="logo-sidebar"
   class="fixed top-0 left-0 z-40 w-64 h-screen pt-24 transition-transform -translate-x-full bg-color border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="h-full px-0 pb-4 overflow-y-auto bg-color dark:bg-gray-800">
      @for (item of navbarItems; track $index) {
         <ul class="space-y-2 font-medium">
             <li [routerLinkActive]="['bg-white', 'border-r-4', 'border-orange-400', 'text-gray-900']" [class.hover:bg-black]="$index !== 0" [class.hover:bg-opacity-25]="$index !== 0" class="li-hover-bg-color active:border-r-4 active:border-orange-400 active:bg-white px-8 py-2 focus:bg-white">
                 <a [routerLink]="item.url" class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                     <img src="{{item.icon}}" alt="">
                     <span class="ms-3">{{item.label}}</span>
                 </a>
             </li>
         </ul>
     }
     
      <!--<ul class="space-y-2 font-medium">
         <li routerLinkActive="bg-white border-r-4 border-orange-400 text-gray-900"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 active:bg-white px-8 py-2 focus:bg-white  ">
            <a routerLink="/index/dashboard"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Tableau de bord</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 active:bg-white px-8 py-2 focus:bg-white  ">
            <a routerLink="/index/offres"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mes offres personnalisée</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 active:bg-white px-8 py-2 focus:bg-white  ">
            <a routerLink="/index/simulations"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mes simulations</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 active:bg-white px-8 py-2 focus:bg-white  ">
            <a routerLink="/index/contrats"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mes contrats</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25 active:bg-white  li-hover-bg-color active:border-r-4 active:border-orange-400 px-8 py-2 focus:bg-white  ">
            <a routerLink="/index/sinistres"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mes sinistres</span>
            </a>
         </li>

         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 px-8 py-2 active:bg-white  ">
            <a routerLink="#"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mon programme de fidélité</span>
            </a>
         </li>

         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 px-8 py-2 active:bg-white  ">
            <a routerLink="#"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Mes partenaires</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 px-8 py-2 active:bg-white  ">
            <a routerLink="/index/contact"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <img src="../../../../assets/icons/call.svg" alt="">
               <span class="ms-3">Contactez-nous</span>
            </a>
         </li>
         <li routerLinkActive="bg-white border-r-4 border-orange-400"
            class="hover:bg-black hover:bg-opacity-25   li-hover-bg-color active:border-r-4 active:border-orange-400 px-8 py-2 active:bg-white  ">
            <a routerLink="#"
               class="flex items-center p-2 text-gray-400 active:text-black rounded-lg dark:text-white dark:hover:bg-gray-700 group">
               <svg
                  class="w-5 h-5 text-gray-400 active:text-black transition duration-75 dark:text-gray-400 group-hover:text-gray-400"
                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path
                     d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                  <path
                     d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
               </svg>
               <span class="ms-3">Informations</span>
            </a>
         </li>
      </ul>-->
   </div>
</aside>