<!--@if(loading){

}@else{
<div class="container-fluid">
    <div class="header">
        <app-header />
    </div>
    <div class="flex">
        <div class="side-bar">
            <app-side-nav />
        </div>
        <div class="content">
            <div class="p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
}

<app-header></app-header>
<app-nav-side></app-nav-side>-->


@if (loading) {
<app-transition-spiner />
}@else {
<app-header />
<app-side-nav />

<div class="p-0 sm:ml-64">
    <div class="p-4 border-0 bg-gray-100 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <router-outlet></router-outlet>
    </div>
</div>
}