<div class="p-5">
    <header class="my-4">
        <h1 class="title uppercase mb-2 text-black font-bold">Mes Sinistres </h1>
        <span class="text-sm text-gray-400">Lorem ipsum dolor sit amet.</span>
    </header>

    <section class="grid md:grid-cols-2 ">
        <div class="md:w-full py-5">
            <div class="py-2">Plateau cité financière </div>
            <div class="py-4">Abidjan côte d'Ivoire </div>
            <div class="py-4">Tél : <span>+225 0757969618</span> </div>
            <div class="pt-4"> {{"developpeur@ngser"}} </div>

        </div>
        <div>

            <form class="w-full lg:p-5 px-0 mt-5 lg:mt-0">
                <div class="grid md:grid-cols-2 md:gap-6">
                    <div class="mb-5">
                        <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom <span
                                class="text-red-600">*</span></label>
                        <input type="text" id="small-input"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded bg-white text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <div class="mb-5">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">email
                            <span class="text-red-600">*</span></label>
                        <input type="email" id="email"
                            class="block w-full p-2 text-gray-900 border border-gray-300 rounded bg-white text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                </div>
                <div class="mb-5">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Téléphone
                        <span class="text-red-600">*</span></label>
                    <input type="tel" id="small-input"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded bg-white text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="relative z-0 w-full mb-5 group">

                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> message
                        <span class="text-red-600">*</span></label>
                    <textarea id="message" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Write your thoughts here..."></textarea>

                </div>



                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>

        </div>
    </section>

    <section class="map-section mt-5  rounded-sm h-80 w-full bg-white">
        <iframe class="w-full h-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63556.87068981364!2d-4.0289496015999156!3d5.3704604834097305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1ebc75bc55bc1%3A0xe06c66be169d5c87!2sG%C3%A9n%C3%A9ration%20Nouvelle%20d&#39;Assurance!5e0!3m2!1sfr!2sci!4v1708518331073!5m2!1sfr!2sci"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>