<div class="my-6">
    <header class="my-4">
        <h1 class="title uppercase mb-2 text-black font-bold">Mes offres personalisées </h1>
        <span>Lorem ipsum dolor sit amet.</span>
    </header>
    <section class="flex w-full justify-between">

        <form class="">
            <div class="relative">
                
                <input type="search" id="default-search"
                    class="block w-full p-4 ps-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
                    placeholder="Search Mockups, Logos..." required />
                <button type="submit"
                    class="text-white absolute end-2.5 bottom-2.5  hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </button>
            </div>
        </form>

        <div class="flex">
            <button class="bg-white rounded-md mx-2 p-2">Type d'offres</button>
            <button class="bg-white rounded-md mx-2 p-2">Date 2024</button>
        </div>
    </section>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>

    <div
        class="max-w-sm p-2 mx-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#" class="block">
            <img class="mx-auto rounded-t-lg rounded-lg"
                src="https://im.qccdn.fr/node/guide-d-achat-assurance-habitation-45112/thumbnail_800x480px-121622.jpg"
                alt="" />
        </a>
        <div class="p-5">
            <a href="#" class="block">
                <h5
                    class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white uppercase text-sm text-center">
                    Assurance auto</h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-justify">Here are the biggest enterprise
                technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <span class="flex justify-center">En savoir plus <svg class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m7 16 4-4-4-4m6 8 4-4-4-4" />
                </svg>
            </span>
            <button
                class=" lg:ml-9 lg:w-64 w-full inline-flex items-center justify-center lg:px-3 lg:py-3 px-1 py-2  mt-3 lg:text-sm text-xs font-medium text-center text-white bg-orange-400 rounded-3xl hover:bg-orange-400 focus:ring-4 focus:outline-none focus:ring-orange-300 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">
                Faire une simulation
            </button>
        </div>
    </div>
</div>