<!--espace mot de passe oublié, un formulaire multiple avec les steps-->

<!--<app-transition-spiner *ngIf="loading"></app-transition-spiner>-->
<div class="container-fluid">
  <div class="container m-auto items-center">
    <div class="back-circle-style"></div>

    <div class="logo mb-12"><img src="../../../../assets/images/Groupe 11354.svg" alt="logo GNA"></div>

    <!--les progresses steps-->
    <div class="progress-steps mb-7">
      <ol class="flex items-center md:w-64 mb-5">
        @if (step === 1) {
        <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-0 after:border-b after:border-2 after:inline-block dark:after:border-blue-800">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 border-2 border-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
            </span>
          </span>
        </li>

        <li
          class="flex w-full items-center after:content-[''] after:w-full after:h-0 after:border-b after:border-gray-100 after:border-2 after:inline-block dark:after:border-gray-700">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5  bg-gray-100  rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
              @if (false) {<svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>}
            </span>
          </span>
        </li>

        <li class="flex items-center w-full">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 bg-gray-100 rounded-full lg:h-6 lg:w-6 dark:bg-gray-700 shrink-0">
            </span>
          </span>
        </li>
        }@else if (step === 2) {
        <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-0 after:border-b after:border-orange-400 after:border-2 after:inline-block dark:after:border-blue-800">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 bg-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
              <svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
          </span>
        </li>

        <li
          class="flex w-full items-center after:content-[''] after:w-full after:h-0 after:border-b after:border-gray-100 after:border-2 after:inline-block dark:after:border-gray-700">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 border-2 border-orange-400  rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
              @if (false) {<svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>}
            </span>
          </span>
        </li>

        <li class="flex items-center w-full">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 bg-gray-100 rounded-full lg:h-6 lg:w-6 dark:bg-gray-700 shrink-0">
            </span>
          </span>
        </li>
        }@else if (step === 3) {
        <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-0 after:border-b after:border-orange-400 after:border-2 after:inline-block dark:after:border-blue-800">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 bg-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
              <svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
          </span>
        </li>

        <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-0 after:border-b after:border-orange-400 after:border-2 after:inline-block dark:after:border-blue-800">
          <span class="flex items-center justify-center w-6 h-6 border-2 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 bg-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
              <svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5.917 5.724 10.5 15 1.5" />
              </svg>
            </span>
          </span>
        </li>

        <li class="flex items-center w-full">
          <span class="flex items-center justify-center w-6 h-6 border-4 border-white rounded-full lg:h-8 lg:w-8">
            <span
              class="flex items-center justify-center w-5 h-5 border-2 border-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-gray-700 shrink-0">
            </span>
          </span>
        </li>
        }

        <!-- <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-orange-400 after:border-4 after:inline-block dark:after:border-blue-800">
          <span
            class="flex items-center justify-center w-5 h-5 bg-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
            @if (false) {<svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>}
          </span>
        </li>

        <li
          class="flex w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700">
          <span
            class="flex items-center justify-center w-5 h-5 border-2 border-orange-400  rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
            @if (false) {<svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>}
          </span>
        </li>

        <li class="flex items-center w-full">
          <span
            class="flex items-center justify-center w-5 h-5 bg-gray-100 rounded-full lg:h-6 lg:w-6 dark:bg-gray-700 shrink-0">
          </span>
        </li>-->
      </ol>

    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form-container">
      <!--step 1, demande identifiant-->
      @if (step === 1) {
      <div class="step1">
        <div id="form-title" class="mb-8">
          <span class="title-style">Mot d</span>e passe oublié ,
        </div>
        <div class="formGroup mb-5 mt-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Identifiant <span
              class="text-red-500">*</span></label>
          <input formControlName="email" type="email" id="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
            placeholder="mail; no telephone; no abonné" required>
          <div
            *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
            class="text-sm text-red-500">Veuillez saisir une adresse email valide</div>
        </div>
        <!--Bouton submit-->
        <div class=" w-full">
          <app-customer-button buttonText="Continuer" buttonClass="custom-button"
            (buttonClick)="next()"></app-customer-button>
        </div>
      </div>
      }@else if (step===2) {
      <!--step 2, demande de code OTP-->
      <div class="step2 lg:w-full lg:px-16">
        <div id="form-title" class="mb-8">
          <span class="title-style">Mot d</span>e passe oublié ,
        </div>


        <div class="formGroup mb-5 mt-5 flex justify-center">
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
        </div>
        <div class="flex justify-between mb-5 mt-5">
          <!--<div class="text-sm font-medium text-gray-900 dark:text-gray-300">Vous n'avez pas reçu le code ?</div>-->
          <div class="w-full flex m-auto justify-center"><a href=""
              class="text-sm font-medium text-orange-700 dark:text-blue-600">Renvoyer le
              code</a></div>
        </div>
        <div class=" w-full ">
          <app-customer-button buttonText="Continuer" buttonClass="custom-button"
            (buttonClick)="next()"></app-customer-button>
        </div>

      </div>
      }@else if (step===3) {

      <div class="formGroup mb-5 lg:px-16 px-5 w-full">
        <div class=" password-container w-full">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Nouveau mot de
            passe <span class="text-red-500">*</span></label>
          <input formControlName="password" [type]="!showPassword ? 'password' : 'text'" id="password"
            class="shadow-sm lg:w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:focus:border-blue-500 dark:shadow-sm-light"
            required>

          <div class="toggle-password flex">
            @if (showPassword) {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="2" />
              <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
              <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
            </svg>
            } @else {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
            }
          </div>
        </div>
        <div
          *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
          class="text-sm text-red-500">Veuillez saisir un mot de passe valide</div>
      </div>

      <div class="formGroup mb-5 lg:px-16 px-5 w-full ">
        <div class=" password-container">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Repétez le mot de
            passe <span class="text-red-500">*</span></label>
          <input formControlName="password" [type]="!showPassword ? 'password' : 'text'" id="password"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:focus:border-blue-500 dark:shadow-sm-light"
            required>

          <div class="toggle-password flex">
            @if (showPassword) {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="2" />
              <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
              <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
            </svg>
            } @else {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
            }
          </div>
        </div>
        <div
          *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
          class="text-sm text-red-500">Veuillez saisir un mot de passe valide</div>
      </div>
      <!--Bouton submit-->
      <div class=" w-full lg:px-16 px-5 text-white">
        <app-customer-button buttonText="Enregistrer" buttonClass="custom-button"
          (buttonClick)="handleButtonClick()"></app-customer-button>
      </div>
      }

    </form>
  </div>
</div>