<div class="container-fluid">
  <div class="container m-auto items-center ">
    <div class="back-circle-style"></div>
    <div class="logo mb-8"><img src="../../../../assets/images/Groupe 11354.svg" alt="logo GNA"></div>
    <!--stepper progress bar-->

    <div class="progress-steps mb-7 md:w-72 ">
      <ol class="flex items-center md:w-64  ">
        <li
          class="flex w-full items-center  dark:text-blue-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-orange-400 after:border-4 after:inline-block dark:after:border-blue-800">
          <span
            class="flex items-center justify-center w-5 h-5 bg-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
            <svg class="w-2.5 h-2.5 text-white lg:w-3 lg:h-3 dark:text-orange-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5" />
            </svg>
          </span>

         @if (false) {
          <span
          class="flex items-center justify-center w-5 h-5 border border-orange-400 rounded-full lg:h-6 lg:w-6 dark:bg-blue-800 shrink-0">
          
        </span>
         }

        </li>
        <li class="flex items-center w-full">
          <span
            class="flex items-center justify-center w-5 h-5 bg-gray-100 rounded-full lg:h-6 lg:w-6 dark:bg-gray-700 shrink-0">

          </span>
        </li>
      </ol>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form-container">
      <div id="form-title" class="mb-8">
        <span class="title-style">Inscriv</span>ez vous ,
      </div>

      @if (step===1) {
      <div class="formGroup mb-5">
        <label for="nom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom <span
            class="text-red-500">*</span></label>
        <input formControlName="nom" type="text" id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="nom" required>
        <div *ngIf="loginForm.get('nom')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
          class="text-sm text-red-500">Veuillez saisir une adresse email valide</div>
      </div>
      <div class="formGroup mb-5">
        <label for="prenom" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prenom <span
            class="text-red-500">*</span></label>
        <input formControlName="prenom" type="text" id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="prenom" required>
        <div
          *ngIf="loginForm.get('prenom')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
          class="text-sm text-red-500">Veuillez saisir une adresse email valide</div>
      </div>
      <div class="formGroup mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email <span
            class="text-red-500">*</span></label>
        <input formControlName="email" type="email" id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="email" required>
        <div
          *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
          class="text-sm text-red-500">Veuillez saisir une adresse email valide</div>
      </div>
      <div class="formGroup mb-5">
        <label for="tel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No téléphone <span
            class="text-red-500">*</span></label>
        <input formControlName="tel" type="tel" id="email"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="no téléphone" required>
        <div *ngIf="loginForm.get('tel')!.invalid && (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
          class="text-sm text-red-500">Veuillez saisir une adresse email valide</div>
      </div>

      <!--Bouton suivant-->
      <button type="button" (click)="next()"
        class="bouton-submit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-orange-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Suivant</button>

      <!--<div class="hr"></div>
              <div class="flex items-center justify-center mt-5">
                <div class="text-sm font-medium text-gray-900 dark:text-gray-300">Vous n'avez pas de compte ?</div>
                <a href="" class="ms-2 text-sm font-medium text-orange-700 dark:text-blue-600">Inscrivez vous </a>
              </div>-->

      }@else if (step===2) {

      <div class="formGroup mb-5">
        <div class=" password-container">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Mot de passe <span
              class="text-red-500">*</span></label>
          <input formControlName="password" [type]="!showPassword ? 'password' : 'text'" id="password"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:focus:border-blue-500 dark:shadow-sm-light"
            required>

          <div class="toggle-password flex">
            @if (showPassword) {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="2" />
              <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
              <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
            </svg>
            } @else {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
            }
          </div>
        </div>
        <div
          *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
          class="text-sm text-red-500">Veuillez saisir un mot de passe valide</div>
      </div>

      <div class="formGroup mb-5">
        <div class=" password-container">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Confirmation de
            mot de passe <span class="text-red-500">*</span></label>
          <input formControlName="password" [type]="!showPassword ? 'password' : 'text'" id="password"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white  dark:focus:border-blue-500 dark:shadow-sm-light"
            required>

          <div class="toggle-password flex">
            @if (showPassword) {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <circle cx="12" cy="12" r="2" />
              <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
              <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
            </svg>
            } @else {
            <svg (click)="togglePasswordVisibility()" class="h-8 w-8 text-gray-900" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
            }
          </div>
        </div>
        <div
          *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
          class="text-sm text-red-500">Veuillez saisir un mot de passe valide</div>
      </div>
      <!--Bouton submit-->
      <button type="submit"
        class="bouton-submit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-orange-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-orange-400">Enregistrer</button>
      }
    </form>
  </div>
</div>